<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Defensoria de Audiencia</title>
		<meta charset="utf-8">
		<meta name="description" content="Defensor&iacute;a de Audiencia">
		<meta name="keywords" content="defensoria audiencia">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

        <!-- CSS gob -->
        <link rel="stylesheet" href="https://framework-gb.cdn.gob.mx/qa/assets/styles/main.css">
        <link rel="shortcut icon" href="https://defensoria.televisioneducativa.gob.mx/img/favicon.ico" />

	</head>
	<body>
		<header><nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
         <span class="sr-only">Interruptor de Navegación</span>
         <span class="submenu">Submenú</span>
         </button>
         <a class="navbar-brand" href="https://defensoria.televisioneducativa.gob.mx">
         </a>
      </div>
      <div class="collapse navbar-collapse" id="subenlaces">
         <ul class="nav navbar-nav navbar-right">
                        <li>
               <a href="https://defensoria.televisioneducativa.gob.mx" target="_top">Inicio</a>
            </li>
                        <li>
               <a href="https://defensoria.televisioneducativa.gob.mx/comunicate#form-data" target="_top">Formulario</a>
            </li>
                        <li>
               <a href="https://defensoria.televisioneducativa.gob.mx" target="_top">Informes</a>
            </li>
                     </ul>
      </div>
   </div>
</nav>
</header>
		<main class="page">
			<!-- Botones de letras -->
			<div class="font-changer print" style="position: fixed; margin-top : 50px; left : 166.5px; top : 200px ! important;">
			 	<button class="inc-font" style="background-color: white; font-size: 13px;">Aa+</button>
				<button class="dec-font" style="background-color: white; font-size: 13px;">Aa-</button>
				<p class="fuente" style="font-size : 19px;"></p>
			 </div>
			<div class="container">
				<br><br><br>
<section id="secciones">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3>Defensoría de Audiencia</h3>
			<hr class="red" />
		</div>
	</div>
	<div class="row">
		<div class="hidden-md hidden-lg col-xs-12 col-sm-12 ">
			<div class="row">
				<a href="https://defensoria.televisioneducativa.gob.mx/defensora">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="marco-derecho">
							<div class="texto">
								<table>
									<tr>
										<td style="vertical-align: middle;">
											<p class="text-center">¿Quién es la Defensora?</p>
										</td>
									</tr>
								</table>
							</div>
							<div class="icono-aux">
								<img src="https://defensoria.televisioneducativa.gob.mx/img/index/Ic_6.png" alt="icono-seccion">
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="row">
				<a href="https://defensoria.televisioneducativa.gob.mx/defensoria">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="marco-derecho">
							<div class="texto">
								<table>
									<tr>
										<td style="vertical-align: middle;">
											<p class="text-center">¿Qué es la Defensoría de las Audiencias?</p>
										</td>
									</tr>
								</table>
							</div>
							<div class="icono-aux">
								<img src="https://defensoria.televisioneducativa.gob.mx/img/index/Ic_5.png" alt="icono-seccion">
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="row">
				<a href="https://defensoria.televisioneducativa.gob.mx/que-dice-audiencia">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="marco-derecho">
							<div class="texto">
								<table>
									<tr>
										<td style="vertical-align: middle;">
											<p class="text-center">¿Qué dice la audiencia?</p>
										</td>
									</tr>
								</table>
							</div>
							<div class="icono-aux">
								<img src="https://defensoria.televisioneducativa.gob.mx/img/index/Ic_8.png" alt="icono-seccion">
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="hidden-xs hidden-sm col-md-6 col-lg-6">
			<div class="row">
				<a href="https://defensoria.televisioneducativa.gob.mx/defensora">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="primer-marco" class="marco-izquierdo">
							<table>
								<tr>
									<td style="vertical-align: middle;">
										<p class="text-center">¿Quién es la Defensora?</p>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</a>
				<a href="https://defensoria.televisioneducativa.gob.mx/defensoria">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="segundo-marco" class="marco-izquierdo">
							<table>
								<tr>
									<td style="vertical-align: middle;">
										<p class="text-center">¿Qué es la Defensoría de las Audiencias?</p>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</a>
				<a href="https://defensoria.televisioneducativa.gob.mx/que-dice-audiencia">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="tercer-marco" class="marco-izquierdo">
							<table>
								<tr>
									<td style="vertical-align: middle;">
										<p class="text-center">¿Qué dice la audiencia?</p>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div id="col-derecha" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="row">
				<a href="https://defensoria.televisioneducativa.gob.mx/derechos">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="marco-derecho">
							<div class="texto">
								<table>
									<tr>
										<td style="vertical-align: middle;">
											<p class="text-center">Derechos de las Audiencias</p>
										</td>
									</tr>
								</table>
							</div>
							<div class="icono-seccion">
								<img src="https://defensoria.televisioneducativa.gob.mx/img/index/Ic_1.png" alt="icono-seccion">
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="row">
				<a href="https://defensoria.televisioneducativa.gob.mx/comunicate">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="marco-derecho">
							<div class="texto">
								<table>
									<tr>
										<td style="vertical-align: middle;">
											<p class="text-center">Comunícate</p>
										</td>
									</tr>
								</table>
							</div>
							<div class="icono-seccion">
								<img src="https://defensoria.televisioneducativa.gob.mx/img/index/Ic_7.png" alt="icono-seccion">
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="row">
				<a href="https://defensoria.televisioneducativa.gob.mx/interes/agenda">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="marco-derecho">
							<div class="texto">
								<table>
									<tr>
										<td style="vertical-align: middle;">
											<p class="text-center">Temas de Interés</p>
										</td>
									</tr>
								</table>
							</div>
							<div class="icono-seccion">
								<img src="https://defensoria.televisioneducativa.gob.mx/img/index/Ic_3.png" alt="icono-seccion">
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="row">
				<a href="https://defensoria.televisioneducativa.gob.mx/normatividad">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="marco-derecho">
							<div class="texto">
								<table>
									<tr>
										<td style="vertical-align: middle;">
											<p class="text-center">Normatividad</p>
										</td>
									</tr>
								</table>
							</div>
							<div class="icono-seccion">
								<img src="https://defensoria.televisioneducativa.gob.mx/img/index/Ic_4.png" alt="icono-seccion">
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
</section>			</div>
		</main>
		<!-- js de gob -->
		<script src="https://framework-gb.cdn.gob.mx/qa/gobmx.js" type="text/javascript"></script>
		
		<footer><link rel="stylesheet" href="https://defensoria.televisioneducativa.gob.mx/css/defensoria.css" >
<script type="text/javascript" src="https://defensoria.televisioneducativa.gob.mx/js/index.js"></script>
</footer>


		<script type="text/javascript" src="https://defensoria.televisioneducativa.gob.mx/js/fuente.js"></script>
		<link href="https://defensoria.televisioneducativa.gob.mx/css/fuente.css" rel="stylesheet" />
		<style>
		    header .alert-warning{
		        margin-top:46px;
		        margin-bottom:0px;
		        padding-top : 10px;
		        padding-bottom : 10px;
		    }
		</style>
	</body>
</html>